*{
    margin: 0; /*Makes the consistent margin of 0 for all elements*/
    padding: 0; /*Makes the consistent padding of 0 for all elements*/
    font-family: 'Montserrat', sans-serif; /*Google Fonts with primary and backup fonts*/
    box-sizing: border-box; /*Makes the padding and border included in the element's total width and height*/
}

body{
    background: #080808; /*Background color for the body tag*/
    color: #fff; /*Text color for the body tag*/
}

#header{
    width: 100%; /* 100% of Screen*/
    height: 100vh; /* 100% of viewport height(Vh)*/
    background-image: url(../images/background.png);
    background-blend-mode: darken;
    background-size: cover; /* Image size covers the container */
    background-position: center; /* Image is centered both horizontally and vertically in the container */
}

.container{
    padding: 10px 10%; /*top and bottom = 10px, left and right = 10%*/
}

nav{ 
    display: flex; /*Makes image and UL side by side horizontally*/
    align-items: center; /*Combines the logo and UL and make them centered vertically inside Nav bar*/
    justify-content: space-between; /*adds space between the items, pushing the first item to the start and the last item to the end.*/
    flex-wrap: wrap; /*wrap items into multiple lines if they exceed the container's(nav bar’s) width.*/
}

.logo{
    width: 214px; /*Width of the logo*/
}

nav ul li{ /*Adds styles to the list items inside ul inside nav*/     
    display: inline-block; /*Makes the list items next to eachother horizontally aligned*/
    list-style: none; /*Removes the bullet points from the list items*/
    margin: 10px 20px; /*Space between the links at Top and bottom = 10px, left and right = 20px*/
}

nav ul li a{
    color: #fff; /*Text color to white for the links*/
    text-decoration: none; /*Removes the underline and other defaults styles from the links*/
    font-size: 22px; /*Text size to 18px*/
    position: relative; /*Position of the links*/
}

nav ul li a::after{ /* pseudo-element -> after, they allow you to style certain parts of an element without adding additional HTML markup */
    content: ''; /*Used to generate content for Psudo-element since it is mandatory it is kept Empty here*/
    background: #4285F4; /*Bg Color of the Psudo-element*/
    width: 0; /*Width of the Psudo-element is made zero initially to hide it(Before hover) */
    height: 3px; /*Height(Thickness) of the Psudo-element (Thin Blue line)*/
    position: absolute; /*Position of the psuedo-element is absolutely within its containing element.*/
    left: 0; /*Positions the pseudo-element at the left edge of its containing element (a in this case).*/
    bottom: -6px; /*Position of the psuedo-element from bottom edge of its containing element*/
    transition: 0.3s; /*Transition time of the psuedo-element*/
}

nav ul li a:hover::after{
    width: 100%; /*Width of the link*/
}

.header-text{
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-top: 20px;
}

.header-text p{
    font-size: 35px;
    margin-top: 10px;
}

.header-text h1 span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4285F4;
}
